@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.init {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: inter;  
  src: url(/fonts/Inter-Regular.ttf);
}

.inter {
  font-family: inter;
}

.scrollbar {
  
  float: left;
  overflow-y: scroll;
  overflow-x:hidden;

}

#style-4::-webkit-scrollbar-track {

  background-color: white;
}

#style-4::-webkit-scrollbar {
  width: 3px;
  background-color: white;
}

#style-4::-webkit-scrollbar-thumb {
  background-color: #DEDEDE;
}

#style-3::-webkit-scrollbar-track {

  background-color: white;
}

#style-3::-webkit-scrollbar {
  width: 6px;
  background-color: white;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: #CCCCCC;
}
